// Variables de couleur
$primary-color: #1a1a1a;
$accent-color: #f05454;
$link-color: #007bff;
$background-color: #f0f0f0;
$white-color: #fff;

// Style général du conteneur du post
.post-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 12px; // Coins arrondis plus marqués
  margin: 4rem auto;
  max-width: 1000px; // Limiter la largeur pour une meilleure lisibilité
  width: 100%;
  color: $primary-color;
  line-height: 1.6;

  // Style pour le titre du post
  .post-title {
    font-size: 2.8rem; // Taille du titre légèrement augmentée
    color: $primary-color;
    margin-bottom: 15px;
    font-weight: 700; // Poids de la police renforcé pour plus de visibilité
    border-bottom: 3px solid $accent-color; // Bordure plus épaisse
    padding-bottom: 10px;
  }

  // Style pour l'image du post
  .post-image {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 12px; // Coins arrondis plus marqués
    }
  }

  // Style pour la description du post
  .post-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    color: $primary-color;
    font-weight: 600;
    font-family: "Josefin Sans";

    span {
      font-size: 2rem;
      font-weight: 600;
      color: $accent-color;
    }
  }

  // Style pour la date de publication
  .post-date {
    font-size: 1.6rem;
    font-family: "Josefin Sans";
    color: $primary-color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 15%;
      height: 2px; // Épaisseur de la ligne
      background-color: $accent-color; // Couleur de la ligne
    }
  }

  // Style pour les catégories du post
  .post-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    span {
      display: inline-block;
      background-color: $accent-color;
      color: $white-color;
      font-family: "Josefin Sans";
      padding: 8px 20px; // Espacement intérieur plus généreux
      border-radius: 4px; // Coins arrondis pour un look plus moderne
      font-size: 1.6rem;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      transition: background-color 0.3s ease; // Transition fluide pour l'effet de survol
    }

    span:hover {
      background-color: lighten(
        $accent-color,
        10%
      ); // Éclaircissement au survol
    }
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 8px;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem auto;
    border: transparent;
    transition: border-color 0.3s ease;
    font-weight: 600;
    font-family: "Josefin Sans";

    label {
      display: block;
      text-align: start;
      font-size: 1.6rem;
      font-weight: 500;
      color: $primary-color;
      margin-bottom: 15px;
    }

    textarea {
      width: 100%;
      padding: 10px;
      font-size: 1.6rem;
      border: transparent;
      border-radius: 5px;
      margin-bottom: 20px;
      box-sizing: border-box;
      background-color: $background-color;
      transition: outline 0.3s ease;

      &:focus {
        outline: 1px solid $accent-color;
        border: transparent;
      }
    }
    button {
      display: block;
      align-self: start;
      color: $primary-color; // Couleur du texte
      background-color: transparent; // Fond transparent
      font-weight: 600;
      border: 1px solid #1a1a1a; // Pas de bordure
      border-radius: 5px; // Coins arrondis
      cursor: pointer;
      font-size: 1.5rem;
      padding: 10px;
      font-family: "Josefin Sans";
      transition: color 0.5s ease; // Transition pour la couleur au survol

      // Effet au survol
      &:hover {
        background-color: #1a1a1a; // Change la couleur de fond au survol
        color: $white-color; // Change la couleur du texte au survol
      }

      &:disabled {
        color: gray; // Couleur pour le bouton désactivé
        cursor: not-allowed;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    position: relative;
    gap: 1rem;
    z-index: 1;
  }

  .avatar {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: rgb(227, 231, 236);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      background-color: rgb(197, 205, 215);
    }
  }

  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  // Style pour l'indicateur de chargement
  .loading {
    text-align: center;
    font-size: 1.125rem;
    color: $primary-color;
    margin: 20px 0;
    font-style: italic; // Style italique pour attirer l'attention
  }
}
