@import "_reset.scss";
@import "_globals.scss";
@import "_header.scss";
@import "_home.scss";
@import "_post.scss";
@import "_comment.scss";
@import "_authform.scss";
@import "_tableAdmin.scss";
@import "_postForm.scss";
@import "_avatarList.scss";
@import "_dashboard.scss";
@import "_panelAdmin.scss";
@import "_modal.scss";
@import "_footer.scss";
@import "_privacy.scss";
@import "_notfound.scss";
@import "_termsOfUse.scss";
@import "_searchBar.scss";
@import "_report.scss";
